@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  --tw-bg-opacity: 1;
  background-color: rgba(55, 60, 63, var(--tw-bg-opacity));
}
::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgba(71, 76, 80, var(--tw-bg-opacity));
}
